/* Update the rule to align the navigation bar list to the right */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-y: scroll; /* Legg til en vertikal scrollbar om nødvendig */
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 10px 5%;    
    background-color: #7800f0;
    width: 100%;
}

.logo {
    cursor: pointer;
    width: 12%;
    margin: 0; /* Remove default margin */
    padding: 10px; /* Adjust top and bottom padding */
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.nav_links li a:hover {
    color: #0088a9; /* Denn må byttes til en farge som passer bakgrunnen*/
}

button {
    padding: 9px 25px;
    background-color: rgb(168, 51, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* NB! Under her, starter den inviduelle delen av siden. Alt over er for navbaren. */

.alt {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(BilderNettsiden/UsnBilde2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
/*
.wrapper {
    width: 420px;
    /* background-color: rgb(89, 216, 248); */ /*
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff ;
    border-radius: 10px;
    padding: 30px 40px;
}
*/

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff ;
    border-radius: 10px;
    padding: 30px 40px;
    margin: -150px auto 0; /* Adjusted margin to move it up by 100px */
}


.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    text-decoration: none;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.register-link p a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    
    .logo {
        cursor: pointer;
        width: 30%;
        margin: 0; /* Remove default margin */
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding: 10px 5%;    
        background-color: #7800f0;
        width: 100%;
    }

    .nav_links ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }

    li, a{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 10px;
        color: #ffffff;
        text-decoration: none;
    }

    button {
        padding: 5px 12px;
        background-color: rgb(168, 51, 255);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-size: 10px;
    }

    .nav_links li {
        padding: 2px;
    }
}

  